* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: white;
  background-color: #180161;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.display {
  background: linear-gradient(90deg, #f5004f, #7c00fe);
  width: 90%;
  max-width: 470px;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 25px;
  text-align: center;
}

.search {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search input {
  border: 0;
  outline: 0;
  border-radius: 30px;
  flex: 1;
  font-size: 18px;
  height: 60px;
  padding: 10px 25px;
  margin-right: 20px;
}

button {
  border-radius: 50%;
  border: 0;
  outline: 0;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.search button img {
  width: 16px;
}
